<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.lbi.logger"
   name="LBi Logger"
   version="0.1.3"
   provider-name="LBi Uk"
   class="com.lbi.logger.Activator">

   <runtime>
      <library name="lbi_logger.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Logging"
            id="com.lbi.logger">
      </category>
      <view
            name="Logger"
            icon="icons/view.gif"
            category="com.lbi.logger"
            class="com.lbi.logger.views.MainView"
            id="com.lbi.logger.views.MainView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.lbi.logger.views.MainView">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.lbi.logger.preferences.LoggerPreferencePage"
            id="com.lbi.logger.preferences.LoggerPreferencePage"
            name="LBi Logger">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.lbi.logger.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
